<div class="row">
  <div class="large-12 column">
    <p>Chunk Size: 1mb (1048576 bytes)</p>
    <input type="number" min="1048576" value="1048576" id="numChunks"/>
    <input type="file" id="afile"/>
    <div id="done"></div>
    <div id="bars"></div>
  </div>

  <script>
    (function() {
      'use strict';
      let bars = document.getElementById('bars');
      let uploaders = [];
      let chooseFile;

      const randomUUID = () => (toReturn => toReturn.length === 24 && toReturn.indexOf('=') === -1 ? toReturn : randomUUID())(btoa(Math.random()));

      let upload = function(blobOrFile, part, uploadId) {
        let progress = document.createElement('div');
        let meter = document.createElement('span');

        progress.classList.add('progress');
        meter.classList.add('meter');
        bars.appendChild(progress);
        progress.appendChild(meter);

        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/file/upload', true);
        xhr.upload.onprogress = function(e) {
          if (e.lengthComputable) {
            meter.value = Math.round((e.loaded / e.total) * 100);
            meter.textContent = parseFloat(meter.value) + '%';
            meter.style.width = meter.textContent;
          }
          if (meter.textContent === '100%') progress.classList.add('success');


        };
        xhr.onloadend = function(e) {
          uploaders.pop();
          if (!uploaders.length) {
            bars.appendChild(document.createTextNode(' All Done! '));
          }
        };
        uploaders.push(xhr);

        xhr.setRequestHeader('transfer-encoding', 'chunked');
        xhr.setRequestHeader('x-afro-upload-part', part);
        xhr.setRequestHeader('x-afro-upload-id', uploadId);

        xhr.send(blobOrFile);
      };
      chooseFile = document.getElementById('afile');
      chooseFile.addEventListener('change', function(e) {
        let self = e.currentTarget;
        let blob = self.files[0];
        let BYTES_PER_CHUNK, SIZE, NUM_CHUNKS, start, end;

        BYTES_PER_CHUNK = parseInt(document.getElementById('numChunks').value, 10);
        SIZE = blob.size;
        NUM_CHUNKS = Math.max(Math.ceil(SIZE / BYTES_PER_CHUNK), 1);
        bars.innerHTML = '';
        bars.innerHTML = '<p>Sending <b>' + NUM_CHUNKS + '</b> chunks:</p>';
        start = 0;
        let part = 0;
        const uploadId = randomUUID();
        end = BYTES_PER_CHUNK;
        while (start < SIZE) {
          upload(blob.slice(start, end), part++, uploadId);
          start = end;
          end = start + BYTES_PER_CHUNK;
        }
        upload(blob.slice(0,0), part++, uploadId);
      }, false);
    })();
  </script>
</div>